In [19]:
import pandas as pd

In [20]:
from fuzzywuzzy import fuzz
value = fuzz.token_sort_ratio('New York in the house 2002 uhgbjkn hubijnk', 'hgbjn in the house New York! ')
print('value: ' + str(value))

value: 64

In [22]:
Data = pd.read_csv('/Users/rahul.madan/Desktop/CDA course files/project files/data_subpart1000.csv')

In [38]:
unique_items = Data['product_name'].unique()
print(len(unique_items))

similar=[]
for i in unique_items:
    if fuzz.token_sort_ratio(i,"Real Cranberry Juice - 1 Ltr")>60:
        similar.append(i)

similar

356

[]

# merge xsxls into 1

In [4]:
# importing the required modules
import glob
import pandas as pd

# specifying the path to csv files
path = "/Users/rahul.madan/Desktop/CDA course files/project files/datagrabbostorepos"

# csv files in the path
file_list = glob.glob(path + "/*.xlsx")

# list of excel files we want to merge.
# pd.read_excel(file_path) reads the excel
# data into pandas dataframe.

In [5]:

excl_list = []

for file in file_list:
	excl_list.append(pd.read_excel(file))

# create a new dataframe to store the
# merged excel file.
excl_merged = pd.DataFrame()

In [6]:

for excl_file in excl_list:

	# appends the data into the excl_merged
	# dataframe.
	excl_merged = excl_merged.append(
	excl_file, ignore_index=True)

# exports the dataframe into excel file with
# specified name.
excl_merged.to_csv('/Users/rahul.madan/Desktop/CDA course files/project files/datagrabbostorepos/combined.csv', index=False)

/var/folders/fn/c33r88ts7dvfl73p9x0_qxh00000gn/T/ipykernel_47768/4264567574.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  excl_merged = excl_merged.append(

In [7]:
excl_merged.head()

,No,Bill number,Date,Item,Code,HSN Code,Unit,Qty
0,13617/21-22,1361722,2022-01-01,Cadbury - Oreo Chocolatey Sandwich Biscuits - ...,3095.0,19053100.0,PAC,2.0
1,13618/21-22,1361822,2022-01-01,Surf Excel Washing Soap Bar - 80 gms,1898.0,34011930.0,PAC,1.0
2,13619/21-22,1361922,2022-01-01,Vim - Lemons - 145 ml,2491.0,34022010.0,PAC,2.0
3,13619/21-22,1361922,2022-01-01,Nescafe - Classic Coffee Sachet - 7.5 gms,3043.0,210111.0,PAC,3.0
4,13620/21-22,1362022,2022-01-01,B Fizz- 160 ml,2435.0,NaN,CAN,1.0

In [8]:
excl_merged['Bill number'].count()

265588

In [11]:
len(excl_merged['Bill number'].unique())

74085

In [20]:
sum(excl_merged['Bill number'].isnull())

0

In [21]:
excl_merged.describe()

        Bill number           Code      HSN Code            Qty
count  2.655880e+05  265587.000000  2.533220e+05  265587.000000
mean   2.632037e+06    2771.684277  1.352916e+07       1.821279
std    1.753386e+06    1913.244885  5.136427e+07      20.838461
min    1.220000e+02      11.000000  7.010000e+02    -216.000000
25%    1.156122e+06    1002.000000  2.106900e+05       1.000000
50%    2.294722e+06    2613.000000  9.023020e+06       1.000000
75%    4.006447e+06    4132.000000  2.008191e+07       2.000000
max    6.271422e+06    7015.000000  1.311022e+09   10000.000000

In [22]:
excl_merged.dtypes

No                     object
Bill number             int64
Date           datetime64[ns]
Item                   object
Code                  float64
HSN Code              float64
Unit                   object
Qty                   float64
dtype: object

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'